<!doctype html>
<html>
  <head>
    <title>Schat</title>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  	<script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
  </head>
  <body>


    <div id="messages"></div>
    <div class="options">
      <div class="options-btn">Options</div>>
      <div class="enter-name">
        <input name="chat-name" id="chat_name"/>
        <div class="button rename">Rename</div>
      </div>
    </div>
    <div class="down"></div>
    <form action="">
      <textarea id="m" autocomplete="off"></textarea> 
      <span class="btn">Send</span>
    </form>
  </body>
</html>